@import "normalize.css";
html,
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100vh;
}
.main {
  position: relative;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  background-color: #f1f1f1;
  flex: 1;
  background-image: url(../assets/bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
}
@media only screen and (max-width: 900px) {
  .main {
    background-size: 66%;
  }
}
@media only screen and (max-width: 750px) {
  .main {
    padding: 1.5rem;
  }
}
.main h2.brand {
  margin: 0;
  display: flex;
  align-items: center;
}
.main h2.brand .avatar {
  border-radius: 50%;
  width: 2rem;
  margin-right: 6px;
}
.main h1.name {
  font-size: 6rem;
  font-weight: 300;
}
@media only screen and (max-width: 750px) {
  .main h1.name {
    font-size: 4rem;
  }
}
.main .spacing {
  height: 60px;
}
@media only screen and (max-width: 900px) {
  .main .spacing {
    height: 160px;
  }
}
.main .social-icons {
  display: flex;
  align-items: center;
  position: fixed;
  left: 3.5rem;
  right: 3.5rem;
  bottom: 3.5rem;
}
@media only screen and (max-width: 900px) {
  .main .social-icons {
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
.main .social-icons a {
  font-size: 2rem;
  color: #252525;
  margin-right: 12px;
}
.main .social-icons a:hover {
  color: black;
}
